fad2dc5de130_first_migration.cpython-36.pyc
fad2dc5de130_first_migration.cpython-36.pyc
877e9996b751_created_puppy_db.cpython-36.pyc
8f6e7f7089ae_added_owners.cpython-36.pyc
37b7351e06a1_adding_tables.cpython-36.pyc
79ed9538a4ad_created_tables.cpython-36.pyc
*.pyc
